---
title: Chriswoods
---

<div id="header">
  <h1 id="title">
    <a href="#" id="home-link" title="Home">chriswoods</a>
  </h1>
</div>
<div id="main">
  <% (1..12).each do |i| %>
  <h4 class="gallery-item">
    <a class="gallery-link" href="#" title="Gallery <%= i %>">
      <img src="/img/gallery-<%= i %>.png" alt="gallery-<%= i %>" class="gallery-clip">
    </a>
  </h4>
  <% end %>
</div>
<div id="footer">
  <ul id="nav">
    <li class="nav-item">
      <a href="#" class="nav-item-link" title="advertising">advertising</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-item-link" title="people">people</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-item-link" title="motion">motion</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-item-link" title="contact">contact</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-item-link" title="login">login</a>
    </li>
  </ul>
  <ul id="buttons">
    <li class="btn-item">
      <a href="#" id="volume-btn" class="btn" title="Volume">Volume</a>
    </li>
    <li class="btn-item">
      <a href="#" id="loop-btn" class="btn" title="Loop">Loop</a>
    </li>
    <li class="btn-item">
      <a href="#" id="casette-btn" class="btn" title="Casette">Casette</a>
    </li>
    <li class="btn-item">
      <a href="#" id="controlling-keys" class="btn" title="Controlling Keys">Keys</a>
    </li>
  </ul>
</div>