---
title: Chriswoods
---

<div id="header">
  <h1 id="title">
    <a id="home-link" href="#" title="Home">chriswoods</a>
  </h1>
</div>
<div id="main">
  <% (1..12).each do |i| %>
  <h4 class="gallery-item">
    <a href="#" class="gallery-link" title="Gallery <%= i %>">
      <img class="gallery-clip" src="/img/gallery-<%= i %>.png" alt="gallery-<%= i %>">
    </a>
  </h4>
  <% end %>
</div>
<div id="footer">
  <ul id="nav">
    <li class="nav-item">
      <a class="nav-item-link" href="#" title="advertising">advertising</a>
    </li>
    <li class="nav-item">
      <a class="nav-item-link" href="#" title="people">people</a>
    </li>
    <li class="nav-item">
      <a class="nav-item-link" href="#" title="motion">motion</a>
    </li>
    <li class="nav-item">
      <a class="nav-item-link" href="#" title="contact">contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-item-link" href="#" title="login">login</a>
    </li>
  </ul>
  <ul id="buttons">
    <li class="btn-item">
      <a id="volume-btn" class="btn" href="#" title="Volume">Volume</a>
    </li>
    <li class="btn-item">
      <a id="loop-btn" class="btn" href="#" title="Loop">Loop</a>
    </li>
    <li class="btn-item">
      <a id="casette-btn" class="btn" href="#" title="Casette">Casette</a>
    </li>
    <li class="btn-item">
      <a id="controlling-keys" class="btn" href="#" title="Controlling Keys">Keys</a>
    </li>
  </ul>
</div>